# Logs
*.log

# Dependency directory
node_modules
node_modules/
.cache/

# Trash
.DS_Store
.idea
.vscode

# Dynamically processed files
reports
coverage
build
i18n
dist

# Mocks
mocks/development/

# Local
.vscode
