.port-status {
  width: 10px;
  height: 10px;
  &-ok {
    background-color: green;
  }
  &-no {
    background-color: white;
  }
  &-no-link {
    background-color: orange;
  }
}

.port-status-wrapper {
  display: flex;
  margin: 0 10px;
  align-items: center;
  margin: 0px 15px 10px 15px;
}

.port-status-title {
  font-family: "Pathway Gothic One";
  font-size: 24px;
  margin: 0 5px;
}

.port-status-items {
  border-bottom: 1px solid green;
}
