.summary-wrapper {
  position: "relative";
  display: flex;
  flex-direction: column;
  width: 100%;
}

.summary-title {
  font-family: "Pathway Gothic One";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 40px;
  margin: 0;
  padding: 15px;
}

.nomad-hardware-containter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nomad-hardware-image {
  width: 70%;
  align-self: center;
  margin: 15px;
}

.nomad-hardware-port-wrapper {
  display: flex;
  width: 70%;
  align-self: center;
  justify-content: space-around;
}
