.summary-wrapper {
  font-family: "Pathway Gothic One";
  color: white;
  margin: 0 2vw 2vw 2vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nomad-hardware-image {
  width: 90%;
}

.nomad-hardware-port-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.summary-title {
}

.nomad-hardware-containter {
}

.nomad-summary-items-wrapper {
display: flex;
}

.nomad-summary-items {
  flex-grow: 1;
}
