.summary-wrapper {
  font-family: "Pathway Gothic One";
  color: #ffffff;
  display: flex;
  background-color: rgba(255, 254, 254, 0.158);
  flex-direction: column;
  text-align: center;
}

.nomad-hardware-image {
  width: 90%;
}

.nomad-hardware-port-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.nomad-summary-items {
  flex-grow: 1;
  &-wrapper {
    display: flex;
  }
}
