.summary-item-wrapper {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}

.summary-item {
  width: 10px;
  height: 10px;

  &-ok{
    background-color: green;
  }
  &-no{
    background-color: white;
  }
  &-no-link{
    background-color: orange;
  }

  &-children-wrapper {
    display: flex;
    align-items: center;
  }
}
