.summary-item-wrapper {
  margin-bottom: 20px
}

.summary-item {
  width: 10px;
  height: 10px;

  &-ok {
    background-color: green;
  }
  &-no {
    background-color: white;
  }
  &-no-link {
    background-color: orange;
  }
}

.summary-children-wrapper {
  margin-left: 20px;

  text-align: left;
  font-size: 21px;
}

.summary-children-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.summary-children {
margin-right: 10px;
}
