.summary-item-wrapper {
  margin-bottom: 20px;
}

.summary-item {
  width: 10px;
  height: 10px;

  &-ok {
    background-color: #008000;
  }
  &-no {
    background-color: #ffffff;
  }
  &-no-link {
    background-color: orange;
  }
}

.summary-children {
  margin-right: 10px;

  &-wrapper {
    margin-left: 20px;

    text-align: left;
    font-size: 21px;
  }

  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
